@model IEnumerable<EFCProject.Models.Game>

@{
    ViewData["Title"] = "IndexProd";
}


<div class="col-md-10 offset-md-1 align-content-center contente mt-3 ">
    <h1>Liste des Jeux</h1>
    <br />
    <div class="row">
        <div class="col-md-4">
            
            <form asp-action="ShowSearchResultsProd" class="row">
                <div class="form-group col-md-6">
                    <label for="SearchInput" class="control-label">Mot clef</label>
                    <input name="SearchInput" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="SearchInput" class="btn btn-primary" />
                </div>
            </form>
            <div class="form-group col-md-6">
                <label for="SearchInput" class="control-label">Titre</label>
                <input name="SearchInput" class="form-control" id="searchInput" />
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-1">
            <p>Trie par :</p>
        </div>
        <div class="form-group col-md-1">
            <a class="nav-link " asp-area="" asp-controller="Games" asp-action="DisplayGamesSorted" asp-route-origine="IndexProd" asp-route-sortBy="Title"> @Html.DisplayNameFor(model => model.Title)</a>
        </div>
        <div class="form-group col-md-1">
            <a class="nav-link " asp-area="" asp-controller="Games" asp-action="DisplayGamesSorted" asp-route-origine="IndexProd" asp-route-sortBy="@Html.DisplayNameFor(model => model.Description)">  @Html.DisplayNameFor(model => model.Description)</a>
        </div>
        <div class="form-group col-md-1">
            <a class="nav-link " asp-area="" asp-controller="Games" asp-action="DisplayGamesSorted" asp-route-origine="IndexProd" asp-route-sortBy="@Html.DisplayNameFor(model => model.Score)"> @Html.DisplayNameFor(model => model.Score)</a>
        </div>
    </div>
    <h2 id="FullCost"> coupt Total :</h>

</div>

<div class="col-md-10 offset-md-1 align-content-center contente mt-3 ">
    
    <table class="table">
            <thead>
                <tr>
                    <th>
                        <a class="nav-link " asp-area="" asp-controller="Games" asp-action="DisplayGamesSorted" asp-route-origine="IndexProd" asp-route-sortBy="Title"> @Html.DisplayNameFor(model => model.Title)</a>
                    </th>
                    <th>
                        <a class="nav-link " asp-area="" asp-controller="Games" asp-action="DisplayGamesSorted" asp-route-origine="IndexProd" asp-route-sortBy="@Html.DisplayNameFor(model => model.Score)"> @Html.DisplayNameFor(model => model.Score)</a>
                    </th>

                    <th>
                        <a class="nav-link " asp-area="" asp-controller="Games" asp-action="DisplayGamesSorted" asp-route-origine="IndexProd" asp-route-sortBy="@Html.DisplayNameFor(model => model.CreateDate)"> @Html.DisplayNameFor(model => model.CreateDate)</a>
                    </th>
                    <th>

                        <a class="nav-link " asp-area="" asp-controller="Games" asp-action="DisplayGamesSorted" asp-route-origine="IndexProd" asp-route-sortBy="@Html.DisplayNameFor(model => model.EndDate)"> @Html.DisplayNameFor(model => model.EndDate)</a>
                    </th>
                    <th>
                        <a class="nav-link " asp-area="" asp-controller="Games" asp-action="DisplayGamesSorted" asp-route-origine="IndexProd" asp-route-sortBy="@Html.DisplayNameFor(model => model.Budget)"> @Html.DisplayNameFor(model => model.Budget)</a>

                    </th>
                    <th>
                        <a class="nav-link " asp-area="" asp-controller="Games" asp-action="DisplayGamesSorted" asp-route-origine="IndexProd" asp-route-sortBy="@Html.DisplayNameFor(model => model.Statut)"> @Html.DisplayNameFor(model => model.Statut)</a>

                    </th>

                    <th></th>
                </tr>
            </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr class="dataRow">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                    <td class="budget">
                    @Html.DisplayFor(modelItem => item.Budget)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Statut)
                </td>

                <td>
                    <a asp-action="EditProd" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                </td>
            </tr>
    }
        </tbody>
    </table>


</div>





<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>



    $(document).ready(function () {
        // Attacher un gestionnaire d'événement à l'entrée de recherche
        var fullcostHtml = document.getElementById("FullCost");
        var budgetElements = document.querySelectorAll('.budget');
        var totalBudget = 0;

        

        $("#searchInput").on("input", function () {
            // Obtenir la valeur du champ de recherche
            var searchText = $(this).val().toLowerCase();


            $(".dataRow").filter(function () {
                if ($(this).find('td:eq(0)').text().toLowerCase().includes(searchText)) {
                    console.log($(this).find('td:eq(4)').text());
                    totalBudget += parseFloat($(this).find('td:eq(4)').text()) || 0;

                }
            })

            fullcostHtml.innerHTML = 'Total Budget:' + totalBudget;
            totalBudget = 0;
            // Vérifier si la longueur de la chaîne est supérieure à 3
            if (searchText.length > 3) {
                // Masquer toutes les lignes du tableau
                $(".dataRow").hide();

                // Afficher uniquement les lignes qui correspondent à la recherche
                $(".dataRow").filter(function () {
                    var title = $(this).find('td:eq(0)').text().toLowerCase(); // Index 0 pour la colonne "Title"
                    console.log(title);
                    return title.includes(searchText);
                }).show();




            } else {
                // Si la longueur de la chaîne est inférieure ou égale à 3, afficher toutes les lignes
                $(".dataRow").show();
            }
        });
    });
    

</script>